body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #fdfcfc;
    margin: 0 auto;
    position: fixed;
    width: 100%;
  }
  
  .topnav a {
    float: left;
    color: #2b2b2b;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 35px;
  }
  
  .topnav a:hover {
    background-color: rgb(252, 252, 252);
    color: black;
  }
  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }